<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.direct.mapper.AuthorMapper">
	
    <!-- 작가 등록 -->
    <insert id="authorEnroll">
    	INSERT INTO author (
    							authorName,
    							nationId,
    							authorIntro
    						) 
    				VALUES (	#{authorName},
    							#{nationId},
    							#{authorIntro}
    						)
    </insert>
    
    <select id="nationCodes" resultType="com.direct.model.NationVO">
    	SELECT nationId, nationName  FROM nation
    </select>
    
</mapper>